exportMethods(
    "fitted",
    "getCovarFun",
    "getDLml",
    "getHP",
    "getKernel",
    "getKernelGrad",
    "getK",
    "getLml",
    "predict",
    "setHP<-",
)
exportClasses(
    "CovarFun",
    "GPC"
)
